@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {

	width: 100vw;
	height: 100vh;
}
html{
	font-family: 'Dancing Script', cursive;
}

header {
	overflow: hidden;
	width: 100%;
	padding: 2em 4em;
	background: linear-gradient(360deg, ivory 0%, ivory 90%, transparent 95%),linear-gradient(90deg, pink, yellowgreen);
}
header h2 {
	float: left;
}
.audio {
	background: linear-gradient(360deg, transparent 0%, ivory 15%, ivory 100%),linear-gradient(135deg, yellow, yellowgreen);
	float: right;
	font-size: 2em;
}
.site-wrap {
	background-color: ivory;
}
.gallery {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	background: radial-gradient(circle, black, grey);
}
.item {
	width: 20em;
	height: 20em;
}
.caption {
	background: white;
	text-align: center;
}
.triangle{
	float: left;
	background: linear-gradient(9deg, red 0, green 20%, transparent 80%, blue),
	radial-gradient(circle, pink, orange)2em;
	width: 20em;
	height: 20em;
	background-size: 100% 100%;
	background-repeat: repeat;
	background-color: white;
}
.eyeball {
	width: 20em;
	height: 20em;
	background: 
	radial-gradient(circle at center, black 0, black 10%, transparent 10%),
	radial-gradient(circle at center,transparent 10%, lightblue 10%,  blue 20%, blue 28%, transparent 28%),
	radial-gradient(circle at center, white 30%, lightblue 38%, white 40%, transparent 40%, transparent 100%);
	background-repeat: repeat;
	background-size: 100% 100%;

}
.eyelid {
	width: 100%;
	height: 100%;
	background: 	radial-gradient(ellipse at center, transparent, transparent 40%, lightsalmon 40%, beige, pink 100%),
	linear-gradient(180deg, tan 30%, beige 40%, lightsalmon 40%, transparent 40%),
	linear-gradient(0deg, beige 30%, tan 36%, lightsalmon 40%, transparent 40%);
	animation: blink 8s linear 0s	infinite;
	-webkit-animation: blink 8s linear 0s	infinite;
}
@-webkit-keyframes blink {
	0%, 74%, 76%, 100% {
		background-position: 0 0, 0 -1em, 0 1em;
	}
	75% {
		background-position: 0 0, 0 2.2em, 0 -2.2em;
	}
}
@keyframes blink {
	0%, 74%, 76%, 100% {
		background-position: 0 0, 0 -1em, 0 1em;
	}
	75% {
		background-position: 0 0, 0 2.2em, 0 -2.2em;
	}
}
